$cor-primaria: #2f577e;
$cor-secundaria: #3a3a3a;
$cor-destaque: #da0a36;
$branco: #ffffff;
$text-color: #6c6666;

/* HSL */
$color1: hsla(36%, 100%, 88%, 1);
$color2: hsla(183%, 30%, 64%, 1);
$color3: hsla(203%, 26%, 82%, 1);
$color4: hsla(302%, 36%, 15%, 1);
$color5: hsla(263%, 64%, 56%, 1);

/* RGB */
$color1: rgba(255, 230, 193, 1);
$color2: rgba(135, 187, 190, 1);
$color3: rgba(197, 212, 221, 1);
$color4: rgba(51, 24, 50, 1);
$color5: rgba(125, 70, 214, 1);

/* HEX */
$cor1: #FFE6C1;
$cor2: #87BBBE;
$cor3: #C5D4DD;
$cor4: #331832;
$cor5: #7D46D6;